
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row h-100 justify-content-center align-items-center">
    <div class=" ">
        <div class="card text-center">
            <div class="card-header">
                Trực tiếp Facebook bằng đường link youtube
            </div>
            <div class="card-body">

                <p class="card-text">Ai đã từng dùng gostream.co thì biết nó thu phí cho lỗi lần live stream. Rất ức chế và tốn tiền.</p>
                <p class="card-text">Nay em viết tool này cho mọi người live thoải mái. Kể cả HD </p>
                <div class="form-group row">
                    <input id="linkYoutube" type="text" style="text-align: center;" class="form-control" placeholder="Dán link youtube vào đây để hệ thống live nhé.">
                </div>
                <div class="form-group ">
                    <a href="javascript:;" id="liveButton" class="btn btn-primary">Go Live !</a>
                </div>
            </div>
        </div>
    </div>
</div>

