<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
    <style>
        html, body {
            height: 100%;
        }

        body {
            display: flex;
            align-items: center;
        }
    </style>
</head>
<body>
    <div class="container h-100">
        @RenderBody()
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '2128594470758547',
                autoLogAppEvents: true,
                xfbml: true,
                version: 'v3.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <script>
        document.getElementById('liveButton').onclick = function () {

            var linkYoutube = $("#linkYoutube").val();


            if (linkYoutube === "") {

            } else {
                FB.ui({
                    display: 'popup',
                    method: 'live_broadcast',
                    phase: 'create'
                }, function (response) {
                    if (!response.id) {
                        return;
                    }

                    CallServer(response.secure_stream_url, linkYoutube);

                    FB.ui({
                        display: 'popup',
                        method: 'live_broadcast',
                        phase: 'publish',
                        broadcast_data: response
                    }, function (response) {
                        alert("video status: \n" + response.status);
                    });
                });
            }
        };
        function CallServer(token, linkYoutube) {
            $.ajax({
                type: 'POST',
                url: '/Home/VerifyFacebook',
                data: JSON.stringify({ token: token, linkYoutube: linkYoutube }),
                contentType: 'application/json; charset=utf-8',
                success: function (res) { },
                error: function () { alert("error"); }
            });
        }

    </script>
</body>
</html>